RUST_PACKAGE=__RUST_PACKAGE__
RUST_BIN=__RUST_BIN__
RUST_IMAGE=app-rust
RUST_TAG=0.1.0
TYPESCRIPT_PACKAGE=__TYPESCRIPT_PACKAGE__
TYPESCRIPT_APP=__TYPESCRIPT_APP__
TYPESCRIPT_IMAGE=app-typescript
TYPESCRIPT_TAG=0.1.0
NPMRC_PATH=deploy/docker/npmrc.example
