SERVER_BIN=__SERVER_BIN__
SERVER_IMAGE=app
SERVER_TAG=0.1.0
SERVER_PORT=8080
PINGAP_CONF=/opt/pingap/conf/pingap.conf
PINGAP_ADMIN_ADDR=0.0.0.0:3018
PINGAP_ADMIN_USER=admin
PINGAP_ADMIN_PASSWORD=change-me
